.header {
  &__pre-content {
    td {
      font-size: .7em;
      padding: 10px 0;
    }
    a {
      font-size: 1em;
      color: $text-color;
    }
  }

  &__navbar {
    background: $color-primary;
    td {
      padding: 0 20px;
      height: $navbar-height;
      vertical-align: middle;
    }
  }

  &__item {
    &--logo {
      width: calc(100% - 120px);
      img {
        max-width: 90px;
      }
    }

    &--sell {
      width: 60px;
    }

    &--discover {
      width: 60px;
    }
  }

  &__hero {
    td {
      position: relative;
    }

    img {
      width: 100%;
      max-height: 320px;
      object-fit: cover;
    }

    span {
      position: absolute;
      bottom: 20%;
      left: 0;
      background: rgba($color-white, .9);
      color: $color-primary;
      padding: 5px 20px;
      text-align: left;
      font-weight: 600;
      font-size: 1.5em;
    }
  }

  &__content {
    background-color: $color-white;
    td {
      padding: 20px;
    }

    h2 {
      @extend %title;
    }

    ul, ol {
      @extend %list
    }
  }

  &__cta {
    background-color: $color-white;
    td {
      text-align: center;
    }
    button {
      @extend %cta;
    }
  }
}
