$color-primary: #3bce67;
$color-secondary: rgb(255, 129, 16);
$color-success: #5cb85c !default;
$color-info: #5bc0de !default;
$color-warning: #f0ad4e !default;
$color-danger: #FF6026 !default;
$color-white: #FFFFFF !default;
$text-color: #000000;

$content-width: 640px;
$navbar-height: 60px;

$font-family:  "Open Sans", Avenir, Arial, sans-serif;
$font-size: 16px;


%cta {
  padding: 7px 40px;
  background: $color-primary;
  color: $color-white;
  font-size: 1.2em;
  font-weight: 500;
  margin: 20px 0;
  border: none;
  cursor: pointer;
}

%title {
  font-size: 1.4em;
}

%list {
  list-style-position: inside;
  margin-top: 5px;
}
